<template>
  <div>
    <div class="pt-3 pb-2 mb-3 border-bottom">
      <img src="~assets/eslogo.svg" class="img-fluid" width="240" alt="ExtraServings Logo">
      <h1 class="h2">Welcome to ExtraServings</h1>
    </div>
    <b-alert show variant="warning">
    <h5 class="alert-heading">Not Authorized for Restaurant Functions</h5>
    <p>
      Your Access Level: <b>Member</b>
    </p>
    <p>
      Sorry, only restaurants will find this area useful right now.  We'll let you know when you can download our apps. 
    </p>
  </b-alert>
  

      
    </p>
    
    <h3 class="h3">The ExtraServings Apps: Returning Soon</h3>

    <b-img-lazy class="img-sm" src="~assets/AppStoreButton.png" width="180" alt="Left image"></b-img-lazy> 
    <b-img-lazy class="img" src="~assets/GooglePlayButton.png" width="180" alt="Right image"></b-img-lazy>
    
  </div>
</template>

<script>
export default {

}
</script>
