<template>
  <div>
    <div class="pt-3 pb-2 mb-3 border-bottom">
      <img src="~assets/eslogo.svg" class="img-fluid" width="180" alt="ExtraServings Logo">
      <h2 class="h2">
        Profile
      </h2>
    </div>

    <p>
      Not Yet Implemented. Sorry.
    </p>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>