<template>
  <div>
    <div class="pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Protected Admin Route</h1>
    </div>
    <p>Just Kiddin'</p>
  </div>
</template>

<script>
</script>

<style>

</style>