<template>
  <b-container fluid="sm" class="text-center mt-5">
    <img src="~assets/eslogo.svg" class="img-fluid" width="360" alt="ExtraServings Logo">
    <h3 class="pt-3">Sign In to Continue</h3 class="pt-3">
    <client-only>
      <b-card>
      <Auth />
      </b-card>
    </client-only>
  </b-container>
</template>

<script>
import Auth from '~/components/Auth'
export default {
  name: 'Authenticate',
  layout: 'home',
  components: {
    Auth
  }
}
</script>

<style>
  li {
    list-style-type: none;
  }
</style>
