<template>
  <div>
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>ExtraServings is currently closed.</strong> We will return after the COVID19 Pandemic. Stay Safe!
            </div>
            <h1 class="mb-2">Skip the Lines.<br/>Get Rewarded.</h1>
          </div>
        </div>
      </div>
    </header>

    <section class="features-icons bg-light text-center">
      <div class="container">
        <img src="~assets/eslogo.svg" class="img-max mb-3" alt="ExtraServings Logo">
        <p class="lead">
          Every Restaurant is Different. Some are busy at Lunch. Some for Dinners on the Weekend. Some only on Tuesday Karaoke night.
          ExtraServings finds empty seats, and matches them with flexible diners like you.<br/>
          Restaurants keep their seats filled. You get a bonus of at least 20%.
        </p>
        <h3 class="mb-2">ExtraServings for Every Occasion</h3>
        <div class="row">
          <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <b-icon class="m-auto text-success" icon="clock" font-scale="5"></b-icon>
              </div>
              <h3>Faster Service</h3>
              <p class="lead mb-0">No Lines, No Waiting. More Attention from your server.</p>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <b-icon class="m-auto text-primary" icon="moon" font-scale="5"></b-icon>
              </div>
              <h3>Date Night</h3>
              <p class="lead mb-0">Concentrate on the Moment. Not the family at the next table.</p>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <b-icon class="m-auto text-warning" icon="briefcase" font-scale="5"></b-icon>
              </div>
              <h3>Business Meetings</h3>
              <p class="lead mb-0">Close the Deal faster with less distractions.</p>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <b-icon class="m-auto text-info" icon="gem" font-scale="5"></b-icon>
              </div>
              <h3>Hidden Gems</h3>
              <p class="lead mb-0">Find your new favourite!  We scour the city to find the next big thing.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-lg-6 order-lg-2 text-white showcase-img showcase1">
            <div class="inner cover">
              <h1 class="cover-heading">The ExtraServings Apps.</h1>
              <p class="lead">Coming Soon</p>
              <b-img-lazy class="img-sm" src="~assets/AppStoreButton.png" width="180" alt="Left image"></b-img-lazy> 
              <b-img-lazy class="img" src="~assets/GooglePlayButton.png" width="180" alt="Right image"></b-img-lazy>
            </div>
          </div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text bg-gradient-primary">
            <p class="lead mb-0">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Our Cities</li>
                <li class="list-group-item">Our Restaurants</li>
                <li class="list-group-item">About</li>
                <li class="list-group-item">Careers</li>
                <li class="list-group-item">Restaurant Partners</li>
                <li class="list-group-item">Support</li>
                <li class="list-group-item">FAQ</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="~assets/testimonials-1.jpg" alt="">
              <h5>Margaret E.</h5>
              <p class="font-weight-light mb-0">"Especially with Social Distancing, apps like ExtraServings make more and more sense. Same Food, Better Service, and 20% more for your dollar.  What's not to love?"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="~assets/testimonials-2.jpg" alt="">
              <h5>Fred S.</h5>
              <p class="font-weight-light mb-0">"Delivery is fine, but I prefer dining in local restaurants.  ExtraServings is one of the best ways to save on dining out.”</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="~assets/testimonials-3.jpg" alt="">
              <h5>Sarah W.</h5>
              <p class="font-weight-light mb-0">"There's a great app, ExtraServings, that helps you find restaurants last minute. If you have [the flexibility], that's how you can save.”"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-4">We Can't Wait to Serve You!</h1>
            <h3>Returning as soon as COVID19 Lets Us.</h3>
          </div>
        </div>
      </div>
    </section>

  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <nuxt-link to="/tos">Terms of Service</nuxt-link>
            </li>
            <li class="list-inline-item">⋅</li>
            <li class="list-inline-item">
              <nuxt-link to="/privacy">Privacy Policy</nuxt-link>
            </li>
            <li class="list-inline-item">⋅</li>
            <li class="list-inline-item">
              <nuxt-link to="/authenticate" class="btn btn-primary">
                Authenticate
              </nuxt-link>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">
            <img src="~assets/es_square.png" height="40">
            ExtraServings Canada<br/>© 2019-2020 EAES Inc. All Rights Reserved.
          </p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <b-icon class="m-auto" icon="facebook" font-scale="5"></b-icon>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </div>
</template>

<script>
export default {
  layout: 'home',
}
</script>

<style scoped>
body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:700
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url(~assets/xrQAAgDFbuA-1920.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom:12rem
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity:.3
}

header.masthead h1 {
    font-size: 55px !important
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom:12rem
    }

    header.masthead h1 {
        /* font-size: 3rem */
        font-size: 80px !important
    }
}

.showcase .showcase-text {
    padding:3rem
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size:cover
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding:7rem
    }
}

.img-max {
  max-width: 500px;
  width:80%;
}

.features-icons {
    padding-top: 2rem;
    padding-bottom:7rem
}

.features-icons .features-icons-item {
    max-width:20rem
}

.features-icons .features-icons-item .features-icons-icon {
    height:7rem
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size:4.5rem
}

.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size:5rem
}

.testimonials {
    padding-top: 7rem;
    padding-bottom:7rem
}

.testimonials .testimonial-item {
    max-width:18rem
}

.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow:0 5px 5px 0 #adb5bd
}

.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url(~assets/Optimized-bonbons.png) no-repeat center center;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 30rem
}

.call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity:.3
}

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem
}
  .pushdown {
    padding-top: 3rem;
  }
  .showcase1 {
    background: url(~assets/bg-showcase-1.jpg);
  }
  .showcase2 {
    background: url(~assets/bg-showcase-2.jpg);
  }
  .showcase3 {
    background: url(~assets/bg-showcase-3.jpg);
  }
</style>

