<template>
  <div>
    <div id="firebaseui-auth-container"></div>
  </div>
</template>
<script>
import { fireAuth, authProviders } from '~/plugins/firebase'

export default {
  name: 'Login',

  mounted: function() {
    if (process.browser) {
      const firebaseui = require('firebaseui')
      const ui =
        firebaseui.auth.AuthUI.getInstance() ||
        new firebaseui.auth.AuthUI(fireAuth)

      const config = {
        credentialHelper: firebaseui.auth.CredentialHelper.NONE,
        signInOptions: [authProviders.Google, authProviders.Email],
        signInFlow: 'popup',
        tosUrl: '/tos',
        privacyPolicyUrl: '/privacy',
        callbacks: {
          signInSuccessWithAuthResult: this.signInResult
        }
      }
      ui.disableAutoSignIn()
      if (this.$store.state.user) {
        this.openDashboard()
      } else {
        ui.start('#firebaseui-auth-container', config)
      }
    }
  },
  methods: {
    signInResult() {
      this.openDashboard()
      return false
    },
    openDashboard() {
      this.$router.push({
        path: '/dashboard'
      })
    }
  }
}
</script>
<style src="~/node_modules/firebaseui/dist/firebaseui.css"></style>
