<template>
  <footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
      <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">Copyright &copy; EAES Inc 2020</div>
        <div>
          <nuxt-link to="/privacy">Privacy Policy</nuxt-link>
          &middot;
          <nuxt-link to="/tos">Terms &amp; Conditions</nuxt-link>
        </div>
      </div>
    </div>
  </footer>
</template>

