<template>
<b-navbar sticky toggleable="lg" type="dark" variant="primary">
    <b-navbar-brand to="/dashboard">
      <b-img height="40" class="d-inline-block align-bottom" src="~assets/es_square.png"></b-img>
      ExtraServings
    </b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
           
        <div v-if="activeUser">
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content >
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{activeUser.displayName}}</span>
              <b-img :src="userAvatar" height="30" class="img-profile rounded-circle"></b-img>
            </template>
            <b-dropdown-item to="/dashboard/profile">Profile</b-dropdown-item>
            <b-dropdown-item @click="logout()">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </div>
        <div v-else>
          <b-nav-item to="/authenticate">Sign In</b-nav-item>
        </div>
      </b-navbar-nav>
    </b-collapse>
</b-navbar>    
</template>

<script>
import dotProp from "dotprop";
export default {
  computed: {
    activeUser() {
      return this.$store.state.user;
    },
    displayName() {
      return this.$store.state.user.displayName;
    },
    userAvatar() {
      return (
        dotProp(this.activeUser, "photoURL") ||
        dotProp(this.activeUser, "picture") || // OpenID
        dotProp(this.activeUser, "picture.data.url") || // Facebook graph API
        dotProp(this.activeUser, "avatar_url") // GitHub
      );
    },
  },
  methods: {
    logout() {
      this.$store.dispatch("signOut").then(() => {
        this.$router.replace({ path: "/" });
      });
    },
  },
};
</script>
