<template>
  
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

            <b-navbar toggleable="md" type="light" variant="light">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <template v-if="activeUser">
      <b-navbar-brand to="/dashboard" class="flex-center">
        <img src="~assets/eslogo.svg" height="40" alt="ExtraServings Logo">
      </b-navbar-brand>
    </template>
    <template v-else>
      <b-navbar-brand to="/" class="flex-center">
        <img src="~assets/eslogo.svg" height="40" alt="ExtraServings Logo">
      </b-navbar-brand>
    </template>
    <b-collapse id="nav_collapse" is-nav>
      <b-navbar-nav>
      </b-navbar-nav>
      <client-only>
        <b-navbar-nav class="ml-auto">
          <div class="flex-center right-margin">
            <template v-if="activeUser">
              <span v-if="displayName">
                <b-nav-item-dropdown :text="displayName" right>
                  <b-dropdown-item @click="logout">Logout</b-dropdown-item>
                </b-nav-item-dropdown>
              </span>
              <span v-else>
                <b-nav-item-dropdown text="Signed In" right>
                  <b-dropdown-item @click="logout">Logout</b-dropdown-item>
                </b-nav-item-dropdown>
              </span>
              <b-img
                :src="userAvatar"
                center
                class="mt-1, logo"
                rounded="circle"
              />
            </template>
            <template v-else>
              <b-nav-item to="/authenticate">Login</b-nav-item>
            </template>
          </div>
        </b-navbar-nav>
      </client-only>
    </b-collapse>
  </b-navbar>
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>
        </main>


      </div>
    </div>
  </div>
</template>

<script>
import Header from "~/components/Header";
import Footer from "~/components/Footer";
import Sidebar from "~/components/Sidebar";

import dotProp from "dotprop";

// import sbHeader from '~/components/sbHeader'
// import sbSidebar from '~/components/sbSidebar'
// import sbDemoContent from '~/components/sbDemoContent'
export default {
  name: "merchantIndex",
  layout: "sb",
  components: {
    Header,
    Footer,
    Sidebar,
    // sbHeader,
    // sbSideBar,
    // sbDemoContent
  },
  computed: {
    activeUser() {
      return this.$store.state.user;
    },
    displayName() {
      return this.$store.state.user.displayName;
    },
    userAvatar() {
      return (
        dotProp(this.activeUser, "photoURL") ||
        dotProp(this.activeUser, "picture") || // OpenID
        dotProp(this.activeUser, "picture.data.url") || // Facebook graph API
        dotProp(this.activeUser, "avatar_url") // GitHub
      );
    },
  },
  methods: {
    logout() {
      this.$store.dispatch("signOut").then(() => {
        this.$router.replace({ path: "/" });
      });
    },
  },

};
</script>

<script>

export default {
};
</script>

<style>
body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
</style>