<template>
  <div>
    <Header />
    <div class="container-fluid">
      <div class="row">
        <SidebarDev />
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <nuxt />
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header";
import SidebarDev from "@/components/SidebarDev";
export default {
  components: {
    Header,
    SidebarDev,
  },
};
</script>

<style lang="scss">
</style>
