<template>
  <div>
    <Header />
    <div class="container-fluid">
      <div class="row">
        <Sidebar />
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <nuxt />
          
        </main>
        
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header";

import Sidebar from "@/components/Sidebar";
export default {
  components: {
    Header,
    
    Sidebar,
  },
};
</script>

<style lang="scss">
main {
  min-height: 90vh;
}
  // Import custom SASS variable overrides, or alternatively
  // define your variable overrides here instead
  @import 'assets/css/custom-vars.scss';

  // Import Bootstrap and BootstrapVue source SCSS files
  @import '~bootstrap/scss/bootstrap.scss';
  @import '~bootstrap-vue/src/index.scss';

</style>
